body{
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
  color: white;
  height: 100vh;
  p{
    -webkit-font-smoothing: antialiased;
    line-height: 23px;
    font-size: 15px;
  }
  h3{
    font-size: 35px;
    margin: 15px 0 45px 0;
  }
  .hero{
    width: 100vw;
    background: #1b1b1e;
    display: flex;
    min-height: 711px;
    .container{
      padding: 50px 80px 40px 80px;
    }
    .footer{
      bottom: 0;
      width: 100vw;
      background: #37373e;
      padding: 6px 0px;
      p{
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
ul{
  li{
    -webkit-font-smoothing: antialiased;
  }
}
h4{
  margin-bottom: 10px;
}
h1{
  font-size: 48px;
  margin: 0px;
  min-width: 412px;
  #const{
    display: block;
    position: absolute;
  }
  .green{
    margin-left: 175px;
  }
}
.menu{
  font-size: 48px;
  margin-left: 62px;
  font-weight: 900;
  ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    &:hover{
      color: #3e3e42;
      transition-duration: 0.5s;
    }
    li{
      padding-bottom: 5px;
      &:hover{
        cursor: pointer;
        color: white !important;
        transition-duration: 0.5s;
      }
    }
  }
  &:before{
    content: '{';
    margin-left: -32px;
  }
  &:after{
    content: '}';
    margin-left: -32px;
  }
}

.constHide{
  animation: constHide 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.letter{
  display: inline-block;
  cursor: default;
}

@keyframes constHide{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.menuMove{
  animation: menuMove 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes menuMove{
  from {
    margin-left: 175px;
  }
  to {
    margin-left: 0px;
  }
}

.h1Shrink{
  animation: h1Shrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes h1Shrink{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
    transform-origin: top left;
    min-width: 250px;
  }
}

.menuShrink{
  animation: menuShrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes menuShrink{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
    margin-left: -50px;
    transform-origin: top left;
  }
}

.pages{
  display: inherit;
}

.pages > div{
  visibility: hidden;
  width:100px;
  margin-left: 100px;
  display: none;
}

ul{
  list-style: none;
  padding-left: 0px;
}

.skills ul li{
  padding-bottom: 12px;
}

.experience{
  ul{
    flex-direction: column;
    li{
      padding-bottom: 22px;
      line-height: 23px;
      font-size: 15px;
    }
  }
  .navigation{
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    margin-top: 0px;
  }
  #previous{
    display: none;
  }
}
#experience-page2{
  display: none;
}

#present, #past{
  &:hover{
    color: #31f4b8;
    cursor: pointer;
  }
}

.past-section{
  display: none
}

.display-content{
  animation: displayContent 0.5s cubic-bezier(0.4, 0.1, 0.7, 0.95) forwards;
}

.social-icons{
  img{
    width: 30px;
    top: 0;
    &:hover{
      top: -4px;
      transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
      position: relative;
    }
  }
}

@keyframes displayContent{
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(40px);
  }
  20% {
    max-width: 670px;
    width:100%;
    opacity: 0;
    transform: translateX(40px);
  }
  100%{
    visibility: visible;
    opacity: 1;
    max-width: 650px;
    width:100%;
    transform: translateX(0px);
  }
}

.justify-content-between{
  justify-content: space-between;
}

.white{
  color: white !important;
}

.grey{
  color: #3e3e42;
}
.green{
  color: #31f4b8;
}
.bold{
  font-weight: 900;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.align-items-start{
  align-items: flex-start;
}

.mlr-15{
  margin-right: 15px;
  margin-left: 15px;
}

.mb-90{
  margin-bottom: 50px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.ml-45{
  margin-left:45px;
}

.mob-title{
  display: none;
  margin-bottom: 11px;
  margin-top: 38px;
  font-size: 34px;
}

#label-mob, .mob-subtitle{
  display: none;
  text-align: center;
}

.mob-subtitle{
  font-size: 27px;
}

#label-mob{
  &:before{
    content: '{';
    position: absolute;
    color: white;
    margin-left: -48px;
  }
  &:after{
    content: '}';
    position: absolute;
    margin-left: 24px;
    color: white;
  }
}

//Mobile version

@media(max-width:940px){
  body .hero .container {
    padding: 30px 0px 45px 0px;
  }
 .h1-desktop, .menu, #label{
   display: none;
 }
 .pages > div {
  margin-left: 0px;
  width:auto;
  padding: 0px 30px;
  margin-top: 38px;
  border-top: 1px solid white;
  display: flex !important;
  flex-direction: column;
  visibility: visible;
  }
  body h3 {
    font-size: 57px;
    margin: 15px 0 8px 0;
}
  .pages {
    display: flex;
    flex-direction: column;
  }
  .mob-title, .mob-subtitle{
    display: block;
  }
  .skills{
    flex-direction: column;
  }
  .skills ul{
    margin-left: 0px !important;
  }
  #label-mob{
    display: block;
    padding: 0px 25px;
  }
  body p {
    line-height: 27px;
    font-size: 16px;
  }
}


