body {
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
  color: white;
  height: 100vh; }
  body p {
    -webkit-font-smoothing: antialiased;
    line-height: 23px;
    font-size: 15px; }
  body h3 {
    font-size: 35px;
    margin: 15px 0 25px 0; }
  body .hero {
    width: 100vw;
    background: #1b1b1e;
    display: flex;
    min-height: 711px; }
    body .hero .container {
      padding: 80px 80px 40px 80px; }
    body .hero .footer {
      bottom: 0;
      width: 100vw;
      background: #37373e;
      padding: 6px 0px; }
      body .hero .footer p {
        font-size: 15px;
        margin: 0 auto;
        text-align: center; }

ul li {
  -webkit-font-smoothing: antialiased; }

h4 {
  margin-bottom: 10px; }

h1 {
  font-size: 48px;
  margin: 0px;
  min-width: 412px; }
  h1 #const {
    display: block;
    position: absolute; }
  h1 .green {
    margin-left: 175px; }

.menu {
  font-size: 48px;
  margin-left: 62px;
  font-weight: 900; }
  .menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    .menu ul:hover {
      color: #3e3e42;
      transition-duration: 0.5s; }
    .menu ul li {
      padding-bottom: 5px; }
      .menu ul li:hover {
        cursor: pointer;
        color: white !important;
        transition-duration: 0.5s; }
  .menu:before {
    content: '{';
    margin-left: -32px; }
  .menu:after {
    content: '}';
    margin-left: -32px; }

.constHide {
  animation: constHide 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

.letter {
  display: inline-block;
  cursor: default; }

@keyframes constHide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

.menuMove {
  animation: menuMove 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

@keyframes menuMove {
  from {
    margin-left: 175px; }
  to {
    margin-left: 0px; } }

.h1Shrink {
  animation: h1Shrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

@keyframes h1Shrink {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7);
    transform-origin: top left;
    min-width: 250px; } }

.menuShrink {
  animation: menuShrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }

@keyframes menuShrink {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7);
    margin-left: -50px;
    transform-origin: top left; } }

.pages {
  display: inherit; }

.pages > div {
  visibility: hidden;
  width: 100px;
  margin-left: 100px;
  display: none; }

ul {
  list-style: none;
  padding-left: 0px; }

.skills ul li {
  padding-bottom: 12px; }

.experience ul {
  flex-direction: column; }
  .experience ul li {
    padding-bottom: 22px;
    line-height: 23px;
    font-size: 15px; }

.experience .navigation {
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  margin-top: 0px; }

.experience #previous {
  display: none; }

#experience-page2 {
  display: none; }

#present:hover, #past:hover {
  color: #31f4b8;
  cursor: pointer; }

.past-section {
  display: none; }

.display-content {
  animation: displayContent 0.5s cubic-bezier(0.4, 0.1, 0.7, 0.95) forwards; }

.social-icons img {
  width: 30px;
  top: 0; }
  .social-icons img:hover {
    top: -7px;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    position: relative; }

@keyframes displayContent {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(40px); }
  20% {
    max-width: 670px;
    width: 100%;
    opacity: 0;
    transform: translateX(40px); }
  100% {
    visibility: visible;
    opacity: 1;
    max-width: 650px;
    width: 100%;
    transform: translateX(0px); } }

.justify-content-between {
  justify-content: space-between; }

.white {
  color: white !important; }

.grey {
  color: #3e3e42; }

.green {
  color: #31f4b8; }

.bold {
  font-weight: 900; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.align-items-start {
  align-items: flex-start; }

.mlr-15 {
  margin-right: 15px;
  margin-left: 15px; }

.mb-90 {
  margin-bottom: 50px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-45 {
  margin-left: 45px; }

.mob-title {
  display: none;
  margin-bottom: 11px;
  margin-top: 38px;
  font-size: 30px; }

#label-mob {
  display: none; }

@media (max-width: 940px) {
  body .hero .container {
    padding: 30px;
    padding-bottom: 45px; }
  .h1-desktop, .menu, #label {
    display: none; }
  .pages > div {
    margin-left: 0px; }
  body h3 {
    font-size: 32px;
    margin: 15px 0 8px 0; }
  .mob-menu {
    display: flex; }
  .pages > div {
    margin-left: 0px;
    display: flex !important;
    visibility: visible;
    width: 100%;
    flex-direction: column; }
  .pages {
    display: flex;
    flex-direction: column; }
  .mob-title, .mob-nav {
    display: block; }
  .skills {
    flex-direction: column; }
  .skills ul {
    margin-left: 0px !important; }
  #label-mob {
    display: block; } }
