body{
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
  color: white;
  height: 100vh;
  p{
    -webkit-font-smoothing: antialiased;
    line-height: 23px;
    font-size: 15px;
  }
  h3{
    font-size: 35px;
    margin: 15px 0 25px 0;
  }
  .hero{
    overflow:hidden;
    height: 100%;
    width: 100vw;
    background: #1b1b1e;
    display: flex;
    .container{
      padding: 80px;
    }
    .footer{
      position: absolute;
      bottom: 0;
      width: 100vw;
      background: #37373e;
      padding: 6px 0px;
      p{
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
h4{
  margin-bottom: 10px;
}
h1{
  font-size: 48px;
  margin: 0px;
  min-width: 263px;
  #const{
    display: block;
    position: absolute;
  }
  .green{
    margin-left: 175px;
  }
}
.menu{
  font-size: 48px;
  margin-left: 62px;
  font-weight: 900;
  ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    &:hover{
      color: #3e3e42;
      transition-duration: 0.5s;
    }
    li{
      padding-bottom: 5px;
      &:hover{
        cursor: pointer;
        color: white !important;
        transition-duration: 0.5s;
      }
    }
  }
  &:before{
    content: '{';
    margin-left: -32px;
  }
  &:after{
    content: '}';
    margin-left: -32px;
  }
}

.constHide{
  animation: constHide 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes constHide{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menuMove{
  animation: menuMove 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes menuMove{
  from {
    margin-left: 175px;
  }
  to {
    margin-left: 0px;
  }
}

.h1Shrink{
  animation: h1Shrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes h1Shrink{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
    transform-origin: top left;
  }
}

.menuShrink{
  animation: menuShrink 0.5s 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes menuShrink{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
    margin-left: -50px;
    transform-origin: top left;
  }
}

.pages{
  display: inherit;
}

.pages > div{
  visibility: hidden;
  width:100px;
  margin-left: 100px;
}

ul{
  list-style: none;
  padding-left: 0px;
}

.skills ul li{
  padding-bottom: 12px;
}


.display-content{
  animation: displayContent 0.5s 0.4s cubic-bezier(0.4, 0.1, 0.7, 0.95) forwards;
}

@keyframes displayContent{
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(40px);
  }
  20% {
    max-width: 670px;
    width:100%;
    opacity: 0;
    transform: translateX(40px);
  }
  100%{
    visibility: visible;
    opacity: 1;
    max-width: 650px;
    width:100%;
    transform: translateX(0px);
  }
}

.justify-content-between{
  justify-content: space-between;
}

.white{
  color: white !important;
}

.grey{
  color: #3e3e42;
}
.green{
  color: #31f4b8;
}
.bold{
  font-weight: 900;
}

.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.align-items-start{
  align-items: flex-start;
}

.mb-40{
  margin-bottom: 40px;
}

.ml-45{
  margin-left:45px;
}


